<section data-ng-controller="UploadsController">
    <div class="container-upload">
         <a class="button-signout" href="/signout">Sign out</a>
         <h1 class="header-intro">New upload</h1> </br>
         
    <form name="uploadForm" class="form-horizontal" data-ng-submit="create(picFile)" novalidate>
        <fieldset>
            <div ng-class="{ 'has-error':   uploadForm.title.$dirty && uploadForm.title.$invalid }">
                <label class="header-boxes" for="title">Title</label>
                <div class="controls">
                    <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                </div>
            
            </div>
            <div >
                </br>
                <label class="header-boxes" for="uploadimage">Upload Picture</label>
                <div class="controls">
                     <input id="uploadimage" type="file" ng-file-select="" ng-model="picFile" name="file" accept="image/*" ng-file-change="generateThumb(picFile[0], $files)" required="">
                    <br/>
                    <img ng-show="picFile[0].dataUrl != null" ng-src="{{picFile[0].dataUrl}}" class="img-thumbnail" height="50" width="100">
                    <span class="progress" ng-show="picFile[0].progress >= 0">      
                        <div style="width:{{picFile[0].progress}}%" ng-bind="picFile[0].progress + '%'" class="ng-binding"></div>
                    </span> 
                    <span class="header-boxes" ng-show="picFile[0].result">Upload Successful</span>
                </div>
            </div>
            <div>
                </br>
                <input class="button" type="submit" class="btn btn-default" ng-disabled="!uploadForm.$valid" ng-click="uploadPic(picFile)">
            </div> 
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</div>
</div>
</section>