  <img ng-src="data:image/jpeg;base64,{{article.image}}" id="photo-id" width="200" height="200"/>
<section data-ng-controller="UploadsController" data-ng-init="findOne()">
  <a class="button-signout" href="/signout">Sign out</a>
    <div class="container-about">
  <h1 class="header-boxes-title" data-ng-bind="upload.title"></h1>
  <small>
    <em class="header-boxes">Posted on</em>
    <em class="header-boxes" data-ng-bind="upload.created | date:'mediumDate'"></em>
    <em class="header-boxes">by</em>
    <em class="header-boxes" data-ng-bind="upload.creator.fullName"></em>
  </small>
  <p class="header-boxes" data-ng-bind="upload.content"></p>
   <div class="header-boxes" data-ng-show="authentication.user._id == upload.creator._id">
   <a class="button" href="/#!/uploads/{{upload._id}}/edit">edit</a>
    <a class="button" href="#" data-ng-click="delete();">delete</a>
    
  </div>
  
  </div>
</section>