<section data-ng-controller="UploadsController" data-ng-init="findOne()">
  <h1 data-ng-bind="upload.title"></h1>
  <div data-ng-show="authentication.user._id == upload.creator._id">
    <a href="/#!/uploads/{{upload._id}}/edit">edit</a>
    <a href="#" data-ng-click="delete();">delete</a>
  </div>
  <small>
    <em>Posted on</em>
    <em data-ng-bind="upload.created | date:'mediumDate'"></em>
    <em>by</em>
    <em data-ng-bind="upload.creator.fullName"></em>
  </small>
  <p data-ng-bind="upload.content"></p>
</section>