<!DOCTYPE html>
<html  class="full" xmlns:ng="http://angularjs.org">
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/the-big-picture.css" rel="stylesheet">
    
	<!-- Ana's Custom CSS -->
    <link href="css/the-big-picture-ana.css" rel="stylesheet">	
	
</head>
<body>
	<!-- Render AngularJS views  -->
	<section ng-view></section>

	<!-- Render the user object -->
	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>
	
	<!-- Load local libraries -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="/songs/songs.client.module.js"></script>
	<script type="text/javascript" src="/songs/controllers/songs.client.controller.js"></script>
	<script type="text/javascript" src="/songs/services/songs.client.service.js"></script>
	<script type="text/javascript" src="/songs/config/songs.client.routes.js"></script>	
	
	<script type="text/javascript" src="/lib/ng-file-upload/FileAPI.min.js"></script>
	<script type="text/javascript" src="/lib/ng-file-upload/angular-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/ng-file-upload/angular-file-upload.min.js"></script>
	
	<!-- Load the upload module -->
	<script type="text/javascript" src="/uploads/uploads.client.module.js"></script>
	<script type="text/javascript" src="/uploads/controllers/uploads.client.controller.js"></script>
	<script type="text/javascript" src="/uploads/services/uploads.client.service.js"></script>
	<script type="text/javascript" src="/uploads/config/uploads.client.routes.js"></script>	

	<!-- Load the categories module -->
	<script type="text/javascript" src="/categories/categories.client.module.js"></script>
	<script type="text/javascript" src="/categories/controllers/categories.client.controller.js"></script>
	<script type="text/javascript" src="/categories/services/categories.client.service.js"></script>
	<script type="text/javascript" src="/categories/config/categories.client.routes.js"></script>	

	
	<!-- Load the example module -->
	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/example/config/example.client.routes.js"></script>

	<!-- Load the users module -->
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

	<!-- Bootstrap AngularJS application -->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html>