<!DOCTYPE html>
<html>
<head>
		 <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/the-big-picture.css" rel="stylesheet">
    
	<!-- Ana's Custom CSS -->
    <link href="css/the-big-picture-ana.css" rel="stylesheet">	

	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>

</head>
<body>
  	<!-- Display flash messages  -->
	<% for(var i in messages) { %>
	   <div class="flash"><%= messages[i] %></div>
	<% } %>
	
	<div class="container-about">
	<!-- Render the signin form  -->
	<form action="/signin" method="post">
		<div>
			<label class="header-signforms">Username:</label>
			<input type="text" name="username" />
		</div>
		<div>
			<label class="header-signforms">Password	:</label>
			<input type="password" name="password" />
		</div>
		
		<div >
		<input class= "button" type="submit" value="Sign In" />
				
		</div>
	</form>

	</div>
</body>
</html>